<!DOCTYPE HTML>
<html>
  <head>
    <style>
      p {text-align: center;}
    </style>
  </head>

  <body>
    <p>{{response}}</p>
    <p><img src="/static/frowny_face.png" style="width:100px;height:100px;"></p>
    <p>There were no matches in the reference tables.</p>
    <p>Please try again.</p>
    <p><a href="/">Click here to make another height prediction</a>
    <p><a href="https://docs.google.com/spreadsheets/d/1fOM_Hntn5P9DXMg4o_rzHxrWJSM_MEwCXgiosloYCqY/edit#gid=0" target="_blank">
        See growth reference tables</a></p>
  </body>

</html>
