<!DOCTYPE html>
<html>
  <head>
    <title>HeightPredictor! Proof of Concept</title>
  <style>
  * {
    font-family: Georgia !important;
    }
  * {
    box-sizing: border-box;
    }
    .column {
    /* Create two equal columns that float next to each other */
    float: left;
    width: 107px;
    height: 150px;
    }
    /* Clear floats after the columns */
    .row:after {
    content: '';
    display: table;
    clear: both;
    }
  </style>
  </head>

  <body>
    {{errors}}
    <form method='post' action='.'>
      <p><h3> HeightPredictor! Proof of Concept</h3>
      <p>Patient (name):</p>
      <p><input name='patient_input' type='text' /></p>

      <p>Height (inches):</p>
      <p><input name='height_input' type='text' maxlength='3'/></p>

      <p>Skeletal Age (years - months):</p>
      <p><input name='skeletal_year_input' type='text' size='8' maxlength='2'/>&nbsp;-
      <input name='skeletal_month_input' type='text' size='8' maxlength='2'/></p>

      <div class='row'>
        <div class='column'>
          <p><span style='text-decoration: underline;'>Gender</span>:</p>
          <p><input type='checkbox' name='gender-checkbox' value='male' onchange='genderCbChange(this)'/>Male</p>
          <p><input type='checkbox' name='gender-checkbox' value='female' onchange='genderCbChange(this)'/>Female</p>
        </div>
        <div class='column'>
          <p><span style='text-decoration: underline;'>Growth Type</span>:</p>
          <p><input type='checkbox' name='growth-checkbox' value='normal' onchange='growthCbChange(this)'/> Normal</p>
          <p><input type='checkbox' name='growth-checkbox' value='accelerated' onchange='growthCbChange(this)'/> Accelerated</p>
          <p><input type='checkbox' name='growth-checkbox' value='delayed' onchange='growthCbChange(this)'/> Delayed</p>
        </div>
      </div>
        <p><input type='submit' value='Calculate predicted height' /></p>
      </form>

      <script>
      /* unchecks checkbox when a different checkbox is selected */
      function genderCbChange(obj) {
        var checkboxes = document.getElementsByName('gender-checkbox');
        for(var i = 0; i < checkboxes.length; i++)
        {
            checkboxes[i].checked = false
        }
        obj.checked = true
      }
       
      /* unchecks checkbox when a different checkbox is selected */
      function growthCbChange(obj) {
        var checkboxes = document.getElementsByName('growth-checkbox');
        for(var i = 0; i < checkboxes.length; i++)
        {
            checkboxes[i].checked = false
        }
        obj.checked = true
      }
      </script>

    </body>
</html>
