<!DOCTYPE HTML>
<html>
  <head>
    <title>HeightPredictor! Proof of Concept</title>
  <style>
  * {
    font-family: Georgia !important;
    }
  * {
    box-sizing: border-box;
    }
    .column {
    /* Create left column */
    float: left;
    width: 350px;
    height: 475px;
    }
    .column2{
    /* Create right column */
    float: left;
    width: 750px;
    height: 300px;
    }
    /* Clear floats after the columns */
    .row:after {
    content: '';
    display: table;
    clear: both;
    }
    }
  </style>
  </head>

  <body onload='checkForm()'>
    {{errors}}
    <form method='post' action='.'>
      <div class='row'>
        <div class='column'>
          <p><h3> HeightPredictor! Proof of Concept</h3>
          <p>Patient (name):</p>
          <p><input name='patient_input' type='text' required/></p>

          <p>Height (inches):</p>
          <p><input name='height_input' type='text' maxlength='3'required/></p>

          <p>Chronological Age (years - months):</p>
          <p><input name='chronological_year_input' type='text' size='8' maxlength='2' required/>&nbsp;-
          <input name='chronological_month_input' type='text' size='8' maxlength='2'required/></p>

          <p>Skeletal Age (years - months):</p>
          <p><input name='skeletal_year_input' type='text' size='8' maxlength='2' required/>&nbsp;-
          <input name='skeletal_month_input' type='text' size='8' maxlength='2' required/></p>

          <p><span style='text-decoration: underline;'>Gender</span>:</p>
          <p><input name='gender-checkbox' type='checkbox' value='male' id='geCheck1' onchange='genderCbChange(this)' onclick='checkForm()'/>Male</p>
          <p><input name='gender-checkbox' type='checkbox' value='female' id='geCheck2' onchange='genderCbChange(this)' onclick='checkForm()'/>Female</p>

          <p><span style='text-decoration: underline;'>Growth Type Calculation</span>:</p>
          <p><input name='growth-type-checkbox' type='checkbox' value='brush' id='grCheck1' onchange='growthCbChange(this)' onclick='checkForm()'/>Brush Foundation Means +/- 2SD</p>
          <p><input name='growth-type-checkbox' type='checkbox' value='one-year' id='grCheck2' onchange='growthCbChange(this)' onclick='checkForm()'/>1 Year from Chronological Age</p>

          <button type='submit' id='submitbutton'/>Calculate predicted height</button>
        </form>
        <div class='column2'>
          <h4><u>How this application works:</u></h4>
          <ol>
            <li>User inputs all of the information</li>
            <p></p>
            <li>Skeletal Age growth type calculated based on user's Chronological Age (C.A) and Skeletal Age (S.A)</li>
                <p></p>
                <u>Brush Foundation:</u>
                <p></p>
                <ul>
                    <li>S.A <b>within</b> 2 standard deviations of the C.A = <b>normal</b></li>
                    <p></p>
                    <li>S.A <b>less than</b> 2 standard deviations from the C.A = <b>delayed</b></li>
                    <p></p>
                    <li>S.A <b>more than</b> 2 standard deviations from the C.A = <b>accelerated</b></li>
                </ul>
                <p></p>
                <u>One Year:</u>
                <p></p>
                <ul>
                    <li>S.A <b>within</b> 12 months of the C.A = <b>normal</b></li>
                    <p></p>
                    <li>S.A <b>less than</b> 12 months from the C.A = <b>delayed</b></li>
                    <p></p>
                    <li>S.A <b>more than</b> 12 months from the C.A = <b>accelerated</b></li>
                </ul>
            <p></p>
            <li>Gender and Skeletal Age growth type used to find correct Google Sheets height prediction table</li>
            <a href="https://docs.google.com/spreadsheets/d/1fOM_Hntn5P9DXMg4o_rzHxrWJSM_MEwCXgiosloYCqY/edit#gid=0" target="_blank">
                (tables can be found here!)</a>
            <p></p>
            <li>Height and Skeletal Age used to parse table for height prediction and percent of mature height</li>
            <p></p>
            <li>Ta-da!</li>
          </ol>
      </div>
      </div>
    <script>
        /* Uncheck checkbox if other checkbox is chosen */
        function genderCbChange(obj) {
            var checkboxes = document.getElementsByName('gender-checkbox');
            for(var i = 0; i < checkboxes.length; i++)
            {
                checkboxes[i].checked = false;
            }
            obj.checked = true;
        }

        /* Uncheck checkbox if other checkbox is chosen */
        function growthCbChange(obj) {
            var checkboxes = document.getElementsByName('growth-type-checkbox');
            for(var i = 0; i < checkboxes.length; i++)
            {
                checkboxes[i].checked = false;
            }
            obj.checked = true;
        }

        /* Disable submit button until checkboxes have been checked */
        function checkForm() {
            var male = document.getElementById('geCheck1');
            var female = document.getElementById('geCheck2');
            var brush = document.getElementById('grCheck1');
            var one_year = document.getElementById('grCheck2');
            var cansubmit = true;

            if (male.checked == false && female.checked == false) {
                cansubmit = false;
            } else {
                cansubmit = true;
            }

            if (brush.checked == false && one_year.checked == false) {
                cansubmit = false;
            } else {
                cansubmit = true;
            }
            document.getElementById('submitbutton').disabled = !cansubmit;
        }
      </script>

    </body>
</html>
